
<!DOCTYPE html>
<html>
  <head>
    <title>AAF Automated Service Provider Installer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <link href="css/aaf_base_application.css" type="text/css" rel="stylesheet" media="screen, projection"/>

    <script src="js/jquery-1.7.2.min.js" type="text/javascript" ></script>
    <script src="js/modernizr-2.6.2.js" type="text/javascript" ></script>
  </head>

  <body>
    
    <header>      
      <div class="container">  
        <div class="row">
          <div class="span12">
            <img src="logo.jpg" alt="AAF Virtual Home" width="102" height="50" />
            <h1>AAF Automated Service Provider Installer</h1>             
          </div>
        </div>
      </div>
    </header>

    <nav>
      <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li>
                <a href="#">Link1</a>
              </li>
              <li><a href="http://support.aaf.edu.au" target="_blank">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <section>
      <div class="container">        
        <div class="row">
          <div class="span12">
            <h1>Congratulations</h1>
            <p>The AAF Automated Service Provider Installer has completed its configuration.  You now need to do a few more things in order to get your service provider up and running.</p>
<hr>
<ol>
<p>
<li>
Create a new service provider record in <a href="<%= @FR_CREATE_SP_LINK %>">Federation Registry</a>.
</li>
</p>

<p>
<li>
Enter the following, as requested by the form:
</li>
<br>
<ul>
<li>Display Name</li>
<li>Description</li>
<li>Service URL</li>
<li>Service Logo Url</li>
</ul>
</p>

<p>
<li>
Select the service provider software type:
<p>
<%= @SP_SOFTWARE_TYPE_STRING %>
</p>
</li>
</p>

<p>
<li>
Paste in your SSL certificate.
<p>
<pre>
<?php include("<%= @SP_SSL_CERT_PATH %>"); ?>
</pre>
</p>
</li>
</p>

<p>
<li>
Select the attributes your service requires to be able to function.
</li>
</p>

<p>
<li>
Click submit.
</li>
</p>

<p>
<li>
Wait for your request to be approved by an AAF administrator.  You will by notified by email once your request has been approved.
</li>
</p>

<p>
<li>
Wait for the federation metadata to update and flow through to your service provider, as well as the identity providers throughout the federation. 
<br>
<br>
NOTE: This may take up to x hours, depending on how individual sites have configured their identity provider.
</li>
</p>


</ol>

<hr>
            <p>Page includes JQuery 1.7.2 and Modernizer 2.6.2.</p>
            <p>You can use all the Bootstrap CSS goodness from Bootstrap 2.x on this page. Documentation at <a href="http://twitter.github.com/bootstrap/">http://twitter.github.com/bootstrap/</a></p>
          </div>
        </div>
      </div>
    </section>
  
    <footer>
      <div class="container"> 
        <div class="row">
          <div class="span12">
            <p>
              AAF Automated Service Provider Installer <strong>version 0.1</strong>
              <br>
              Developed for the <a href="http://www.aaf.edu.au">Australian Access Federation</a> by Paul Stepowski.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>
